<!-- Customer Section -->
<div class="section-header">
    <h1><i class="fa-solid fa-chart-simple"></i> Analytics</h1>
    <p>Quản lý và theo dõi khách hàng</p>
</div>

<div class="body" id="customer-body">
    <div class="filter-menu">
        <div>
            <select name="user-status" id="filter-user-status" onchange="">
                <option value="">Tất cả</option>
                <option value="">Đang hoạt động</option>
                <option value="">Bị khóa</option>
            </select>
        </div>
        <div>
            <form action="" class="form-search">
                <input id="form-search-user" type="text" class="form-search-input" placeholder="Tìm kiếm khách hàng..." oninput="">
            </form>
        </div>
        <div>
            <form action="" class="filter-date">
                <div>
                    <label for="time-start">Từ</label>
                    <input type="date" class="form-control-date" id="time-start-user" onchange="">
                </div>
                <div>
                    <label for="time-end">Đến</label>
                    <input type="date" class="form-control-date" id="time-end-user" onchange="">
                </div>
            </form>    
        </div>
        <div>
            <button id="btn-add-user" class="btn-control-large" onclick=""><i class="fa-light fa-plus"></i> <span>Thêm khách hàng</span></button>
        </div>
    </div>
    <div class="show-content-container" id="show-customer-container">
        <div class="list-content">
            <div class="user-content">
                <img src="" alt="">
                <div class="user-info">
                    <h4>Name-user</h4>
                </div>
            </div>
            <div class="tool-menu-content">
                <div class="list-tool">
                    <button class="btn-edit"><i class="fa-solid fa-pen-to-square"></i></button>
                    <button class="btn-delete"><i class="fa-solid fa-trash"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>