<div class="page-title"></div>
                <div class="cards">
                    <div class="card-single">
                        <div class="box">
                            <div class="amount-user">0</div>
                            <div class="on-box">
                                <img src="../img/keycap/Yugioh/YuGiOh-BEWDragon-5.webp" alt="">
                                <h3>Customers</h3>
                                <p>Khách hàng mục tiêu là một nhóm đối tượng khách hàng trong phân khúc thị trường mục
                                    tiêu mà doanh nghiệp bạn đang hướng tới.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-single">
                        <div class="box">
                            <div class="amount-product">0</div>
                            <div class="on-box">
                                <img src="../img/keycap/OnePiece/2.png" alt="">
                                <h3>Products</h3>
                                <p>Sản phẩm là bất cứ cái gì có thể đưa vào thị trường để tạo sự chú ý, mua sắm, sử dụng
                                        hay tiêu dùng nhằm thỏa mãn một nhu cầu hay ước muốn. Nó có thể là những vật thể,
                                        dịch vụ, con người, địa điểm, tổ chức hoặc một ý tưởng.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-single">
                        <div class="box">
                            <div class="revenue">0</div>
                            <div class="on-box">
                                <img src="../img/keycap/AttackOnTitan/Eren.jpg" alt="">
                                <h3>Revenue</h3>
                                <p>Doanh thu là tổng số tiền mà một doanh nghiệp hoặc tổ chức thu được từ việc bán sản phẩm,
                                    cung cấp dịch vụ hoặc các hoạt động kinh doanh thông thường khác trong một khoảng thời gian
                                    nhất định, trước khi trừ đi chi phí</p>
                            </div>
                        </div>
                    </div>
                    <div class="card-single">
                        <div class="box">
                            <div class="stock">0</div>
                            <div class="on-box">
                                <img src="../img/keycap/AttackOnTitan/Reiner.jpg" alt=""> 
                                <h3>Stock</h3>
                                <p>Hàng tồn kho là tất cả các sản phẩm, nguyên vật liệu, công cụ dụng cụ mà một doanh nghiệp lưu
                                giữ trong kho để phục vụ cho quá trình sản xuất hoặc chờ bán ra thị trường trong tương lai</p>
                            </div>
                        </div>
                    </div>
                </div>
