@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Aldrich&family=Bebas+Neue&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;500;600;700;800&family=Aldrich&family=Bebas+Neue&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

/* Global Styles */

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700;
  font-size: 12px;
}

p {
  font-size: 15px;
  color: #465b52;
  margin: 5px 0 20px 0;
}

.section-p1 {
  padding: 40px 80px;
}

.section-m1 {
  margin: 40px 0;
}

body {
  width: 100%;
}

/* Header styles */
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 80px;
  background-color: transparent;
  backdrop-filter: blur(10px);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  transition: top 0.3s ease;
  border-bottom: 1px solid #ffffff29;

  background-image: url(/img/hero/header_bg.png);
}

#header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px; /* chiều cao shadow */
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  pointer-events: none; /* không che click */
  z-index: -1;
}

#header .logo {
  margin-right: auto; /* auto đẩy logo sang trái */
  margin-bottom: -5px;
}

.header-icons {
  margin-left: auto; /* auto đẩy logo sang phải */
  display: flex;
  align-items: center;
  gap: 15px; /* khoảng cách giữa cart và profile */
}

.header-icons a {
  color: #ffffff;
  font-size: 20px;
  text-decoration: none;
}
.header-icons a:hover {
  color: #ff9f4a;
  transition: color 0.3s ease;
}

#navbar {
  flex: 1; /* chiếm hết phần còn lại !!! */
  display: flex;
  align-items: center;
  justify-content: center;
}

#navbar .cart {
  margin-left: 30px;
}

#navbar li {
  /* nếu để position: relative ở đây thì underline sẽ bị tràn */
  list-style: none;
  padding: 0 20px;
}

#navbar li a {
  /* để relative ở đây chỉ underline chữ thôi */
  font-family: "Bebas Neue";
  position: relative;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  transition: color 0.1s ease, transform 0.1s ease;
}

#navbar li a::after {
  content: "";
  position: absolute;
  background-color: #ff9f4a;
  left: 50%;
  transform: translateX(-50%);
  bottom: -2px;
  width: 0%; /* ẩn đi underline */
  height: 1px;
  transition: width 0.3s ease;
}

#navbar li a:hover::after {
  width: 100%; /* sau khi hover thì sẽ xuất hiện underline */
}

/* ========================= Store page ======================*/

#title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 160px;
}

hr {
    margin: 40px 20px 0 20px;
}

#filter-menu {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 12px;
  margin: 20px auto 0px auto;
  position: relative;
}

#filter-menu select {
  border: 1px solid #e1f5fe;
  padding: 10px 12px;
  border-radius: 8px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 0 10px;
}

#sort {
    position: absolute;
    right: 10px;
}

#status, #brands, #collections, #condition {
    justify-content: flex-start;
}

/* product section */

#product1 {
  text-align: center;
  padding-top: 0;
}

#product1 .pro-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

#product1 .pro {
  width: 32%;
  min-width: 250px;
  padding: 10px 12px;
  border: 1px solid #e1f5fe;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.02);
  margin: 15px 0;
  transition: 0.2s ease;
  position: relative;
  background: white;
}

#product1 .pro:hover {
  box-shadow: 20px 20px 30px rgba(102, 126, 234, 0.1);
  border: 1px solid #ffad66;
}

#product1 .pro img {
  width: 100%;
  border-radius: 8px;
}

#product1 .pro .des {
  text-align: start;
  padding: 5px 0;
}

#product1 .pro .des span {
  color: #78909c;
  font-size: 12px;
  margin: 0;
}

#product1 .pro .des h5 {
  padding-top: 3px;
  color: #ff8519;
  font-size: 14px;
  font-weight: 600;
  margin: 0;
}

#product1 .pro .buy {
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background: linear-gradient(45deg, #ffad66, #ff6b35);
  font-weight: 500;
  color: white;
  border: 1px solid transparent;
  position: absolute;
  bottom: 20px;
  right: 10px;
  transition: 0.2s ease;
}

#product1 .pro .buy:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 12px rgba(255, 133, 25, 0.3);
}

/* Pagination Section */
#pagination {
  text-align: center;
  margin-bottom: 50px;
}

#pagination a {
  text-decoration: none;
  background-color: #ff8519;
  color: white;
  padding: 15px 20px;
  border-radius: 4px;
  font-weight: 600;
}

/* Footer Section */

footer {
  background: #1a1a1a;
  color: white;
  padding: 40px 80px;
  display: flex;
  gap: 20px;
  align-items: stretch;
}

footer .About {
  flex: 6;
  display: flex;
}

footer .About table {
  background-color: #a5a5a5;
  border-collapse: collapse;
  width: 100%;
  height: 100%;
}

footer .About table td {
  padding: 5px 15px;
  color: rgb(0, 0, 0);
  font-family: "Bebas Neue";
  text-align: center;
  font-size: larger;
}

footer .About table a {
  color: #000000;
  text-decoration: none;
  font-size: 14px;
  transition: color 0.3s ease;
}

footer .About table a:hover {
  color: #ff6b35;
}

footer i {
  font-size: 20px;
}

footer .form {
  flex: 3;
  background: #a5a5a5;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  background: #ff8519;
}

footer .form .subcribe {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

footer .form h3 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px;
  color: #000;
  letter-spacing: 1px;
}

footer .form p {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: #000;
}

footer .form .bonus {
  background: #ff8519;
  font-weight: bold;
  color: #000000;
  font-size: 14px;
  padding: 15px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

footer .form .input-group {
  display: flex;
  margin-top: auto;
}

footer .form .input-group input[type="email"] {
  flex: 1;
  padding: 12px 15px;
  font-size: 14px;
  border: none;
  transition: border-color 0.3s;
  background: #fff;
}

footer .form .input-group input[type="email"]::placeholder {
  font-weight: 500;
}

footer .form .input-group input[type="email"]:focus {
  border-color: #333;
  outline: none;
  box-shadow: none;
}

footer .form .input-group button {
  padding: 12px 30px;
  background: #333;
  color: #fff;
  border: none;
  font-family: "Bebas Neue", sans-serif;
  font-size: 25px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: background 0.2s;
}

footer .form .input-group button:hover {
  background: #555;
}
